<div class="container">
  <h1>{{ 'zklk.transaction.form.title' | translate }}</h1>
  <div class="row justify-content-md-center">
    <div class="col-lg-9 col-xl-8">
      <form [formGroup]="transactionFormGroup"
            [ngClass]="routeAnimationsElements">
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'zklk.transaction.form.name.placeholder' | translate }}"
                   formControlName="name" autofocus>
            <mat-error *ngIf="transactionFormGroup.get('name').invalid" data-testid="error-title-crud">
              {{ 'zklk.transaction.form.name.placeholder' | translate }}
              {{ 'zklk.transaction.form.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-slide-toggle class="col-1 align-self-center"></mat-slide-toggle>
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'zklk.transaction.form.value.placeholder' | translate }}"
                   formControlName="value" required type="number">
            <mat-error *ngIf="transactionFormGroup.get('value').hasError('required')" data-testid="error-author-crud">
              {{ 'zklk.transaction.form.value.placeholder' | translate }}
              {{ 'zklk.transaction.form.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <textarea matInput placeholder="{{ 'zklk.transaction.form.description.placeholder' | translate }}"
                      formControlName="description" rows="5"></textarea>
            <mat-error *ngIf="transactionFormGroup.get('description').invalid">
              {{ 'zklk.transaction.form.description.placeholder' | translate }}
              {{ 'zklk.transaction.form.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <button (click)="save()" mat-raised-button color="primary" type="button">
              {{'zklk.transaction.form.save' | translate }}
            </button>
            <button routerLink="/transactions" mat-raised-button type="button">
              {{'zklk.transaction.form.cancel' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
