<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>{{ 'zklk.settings.title' | translate }}</h1></div>
  </div>
  <br>
  <ng-container *ngIf="settings$ | async as settings">
    <div class="row">

      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'zklk.settings.general.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'zklk.settings.general.placeholder' | translate"
                        [ngModel]="settings.language"
                        (selectionChange)="onLanguageSelect($event)"
                        data-testid="language-select"
                        name="language">
              <mat-option *ngFor="let l of languages" [value]="l.value">
                {{ 'zklk.settings.general.language.' + l.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="bars" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'zklk.settings.themes.sticky-header' | translate }}
          </mat-placeholder>
          <mat-slide-toggle data-testid="sticky-header-toggle"
                            [checked]="settings.stickyHeader"
                            (change)="onStickyHeaderToggle($event)">
          </mat-slide-toggle>
        </div>
      </div>

      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'zklk.settings.animations.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <mat-icon color="accent">
              <fa-icon icon="window-maximize"></fa-icon>
            </mat-icon>
          </mat-icon>
          <mat-placeholder>{{ 'zklk.settings.animations.page' | translate }}
          </mat-placeholder>
          <mat-slide-toggle
            matTooltip="Sorry, this feature is disabled in IE, EDGE and Safari"
            matTooltipPosition="before"
            *ngIf="settings.pageAnimationsDisabled"
            data-testid="animations-page-toggle-disabled"
            disabled>
          </mat-slide-toggle>
          <mat-slide-toggle
            *ngIf="!settings.pageAnimationsDisabled"
            [checked]="settings.pageAnimations"
            (change)="onPageAnimationsToggle($event)"
            data-testid="animations-page-toggle">
          </mat-slide-toggle>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="stream" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'zklk.settings.animations.elements' | translate }}
          </mat-placeholder>
          <mat-slide-toggle
            [checked]="settings.elementsAnimations"
            (change)="onElementsAnimationsToggle($event)"
            data-testid="animations-elements-toggle">
          </mat-slide-toggle>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'zklk.settings.themes.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="paint-brush" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'zklk.settings.themes.placeholder' | translate"
                        [ngModel]="settings.theme"
                        (selectionChange)="onThemeSelect($event)"
                        name="themes"
                        data-testid="theme-select">
              <mat-option *ngFor="let t of themes" [value]="t.value">
                {{ 'zklk.settings.themes.' + t.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </ng-container>
</div>
