<div class="container" rtl>
  <h1>{{ 'zklk.transaction.title' | translate }}</h1>
  <div class="row">
    <div class="col-md">
      <mat-card *ngFor="let transaction of transactions$ | async" [ngClass]="routeAnimationsElements"
        (click)=select(transaction) data-testid="transaction-item">
        <div class="row">
          <h3 class="col-sm-3" data-testid="item-name">{{transaction.name}}</h3>
          <span class="col-sm-2">{{transaction.value}} Kč</span>
        </div>
      </mat-card>
      <p *ngIf="(transactions$ | async)?.length === 0">{{'zklk.transaction.empty' | translate}}</p>
      <button type="button" mat-fab color="primary" class="add" [ngClass]="routeAnimationsElements"
        (click)="addNew()" data-testid="add-transaction">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </div>
</div>
